[package]
authors = ["The NLnet Labs RPKI team <rpki-team@nlnetlabs.nl>"]
categories = ["network-programming"]
description = "A library for storing and retrieving IP Prefixes"
documentation = "https://docs.rs/rotonda/"
edition = "2018"
homepage = "https://nlnetlabs.nl/projects/routing/rotonda/"
keywords = ["routing", "bgp"]
license = "BSD-3-Clause"
name = "rotonda-store"
repository = "https://github.com/NLnetLabs/rotonda-store/"
version = "0.3.0-dev"

[dependencies]
ansi_term = {version = "^0.12", optional = true}
csv = {version = "^1.1", optional = true}
num = "^0.3"
routecore = { path = "/Users/jasper/Projects/routecore", features = ["serde"] }
rustyline = {version = "8.0.0", optional = true}

[features]
cli = ["csv", "ansi_term", "rustyline"]
default = []

[[bin]]
name = "cli"
required-features = ["cli"]

[[example]]
name = "full_table_multiple_trees_json"
required-features = ["csv"]

[[example]]
name = "numbers_treebitmap"
required-features = ["csv"]
